<div class="container" style="padding-bottom: 36px">
        <h2>Customer/Vendor Complaints</h2>
</div>
      <div class="container">
      <h4>Search User</h4>
      <input type="text" ng-model="search">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>No.</th>
              <th>Subject</th>
              <th>Complaint</th>
              <th>User</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="complaint in complaints | filter : { $ : search}">
              <td>{{$index+1}}</td>
              <td>{{complaint.subject}}</td>
              <td>{{complaint.complaint}}</td>
              <td>{{complaint.owner.username}}</td>
            </tr>
          </tbody>
      </table>