<div class="container" style="padding-bottom: 36px">
        <h2>Recharges/Withdrawals</h2>
</div>
      


      <div class="container">
      <h4>Search Vendor/Customer</h4>
      <input type="text" ng-model="search">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>No.</th>
             
              
              <th>User</th>
              <th>Amount</th>
              <th>Transaction Time</th>
              


            </tr>
          </thead>
          <tbody>

            <tr ng-repeat="log in logs | filter : { $ : search}">
              <td>{{$index+1}}</td>
             
              <td>{{log.owner}}</td>
              <td>{{log.amount}}</td>
              <td>{{log.ctime | date: 'yyyy-MM-dd h:mm:ss'}}</td>
              
              
            </tr>
            
          </tbody>
        </table>
        
            

