<div class="container" style="padding-bottom: 36px">
        <h2>Approve Vendor Withdrawal</h2>
</div>

      


      <div class="container">
      <h4>Search Vendor</h4>
      <input type="text" ng-model="search">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>No.</th>
              <th>Vendor</th>
              <th>Amount</th>
              <th>Enter OTP</th>

            </tr>
          </thead>
         <tbody>

            <tr ng-repeat="withdrawal in withdrawals | filter : { $ : search}">
              <td>{{$index+1}}</td>
              <td>{{withdrawal.owner.username}}</td>
              <td>{{withdrawal.amount}}</td>
              <td><input type="text" ng-model = "user.otp"></td>
              <td><button ng-click="approve(user)" class="btn btn-primary">Approve</button></td>
            </tr>
            
          </tbody>
        </table>