
      <div class="container" style="padding-bottom: 36px;">
        <h2>Select Food Item</h2>
      </div>


      <div class="container">
        
        
        <button class="btn btn-primary" ng-click="purchase()" style="float: right;">Purchase</button>  <div class="alert alert-success" style="float : right;" ng-if="done">Items purchased.</div>          
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Counters</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in items | filter : search"> 
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.available_at}}</td>
              <td>{{counter[$index]}}</td>
              <td><button type="button" class="btn btn-success" ng-click="add($index)" ng-disabled = " items[$index].price+total > dummy">+</button></td>
              <td><button type="button" class="btn btn-danger" ng-click="delete($index)" ng-disabled="counter[$index] == 0">-</button></td>
            </tr>
            
          </tbody>
        </table>
        
            
      </div>

