
      <div class="container" style="padding-bottom: 36px;">
        <h2>Select Food Item</h2>
      </div>


      <div class="container">
        
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="alert alert-success" style="float : left;" ng-if="done">Items purchased.</div>
        </div>
          <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-5">
          <button class="btn btn-primary" ng-click="purchase()" style="float: right;">Purchase</button>
        </div>
        
        </div>
                    
        <table class="table table-hover">
          <thead style="color: #5f6468">
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Counters</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in items | orderBy : 'name' "> 
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.available_at}}</td>
              <td>{{counter[$index]}}</td>
              <td><button type="button" class="btn btn-success" ng-click="add($index)" ng-disabled = " items[$index].price+total > dummy">+</button></td>
              <td><button type="button" class="btn btn-danger" ng-click="delete($index)" ng-disabled="counter[$index] == 0">-</button></td>
            </tr>
            
          </tbody>
        </table>
        
            
      </div>

