
<div class="container">

    <div class="text-center">
        <div class="pen-title">
    <h1 style="text-transform: uppercase; color: #30a5ff">Cafe<span style="color: white">pay</span></h1>
    </div>

        <p style="margin-bottom: 30px; color: white; font-size:1.3em">Login or Register with:</p>

        <div class="row" style="margin-bottom: 7px;">
        <a style="margin-top: 10px; font-size: 1.3em"ui-sref="login" class="btn md cta">Login</a>
        </div>
        <div class="row">
        <a style="font-size: 1.3em; "ui-sref="signup" class="btn md ghost">Signup</a>
        </div>
    </div>
</div>
