<div class="bg">
<div class="container">

<div class="col-sm-6 col-sm-offset-3">
	<div class="pen-title">
	<h1 style="text-transform: uppercase; color: #30a5ff ">Cafe<span style="color: white">pay</span></h1>
	</div>

	<h1 style="text-transform: uppercase; padding-bottom: 16px; color: #30a5ff"><span class="fa fa-user"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	
	<div class="alert alert-danger" ng-if="emailtaken">Username already taken</div>
	<div class="alert alert-danger" ng-if="usernametaken">Username already taken</div>
	<div class="alert alert-danger" ng-if="valid">Enter valid ID</div>
	<div class="alert alert-success" ng-if="registered">Successfully signed up. Check your email for password.</div>
	<!-- LOGIN FORM -->
	<form>
		<div class="form-group">
			<label style="color: white; font-size: 1.2em">Enter DAIICT ID</label>
			<input type="text" class="form-control" name="username" ng-model="user.username">
		</div>
		<button type="submit" style="font-size: 1.2em;" class="btn md cta" ng-click="send(user)">Signup</button>
	</form>

	<hr>

	<p style="color: white">Already have an account? <a ui-sref="login" style="color: #30a5ff">Login</a></p>
	<p style="color: white">Or go <a ui-sref="home" style="color: #30a5ff">Home</a>.</p>

</div>

</div>
</div>
