* {
  border-radius: 0 !important;
}

hr{
  color: #30a5ff
}

body {
  background-color: #3c3c3c;
  color: #c0dfd9;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}    
.pen-title {

  padding: 55px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}

.btn {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.row {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}

.cta {
  background-color: #30a5ff;
  color: white;
  transition: .2s ease;
}

.cta:hover {
  background-color: white;
  color: #30a5ff;
  transition: .2s ease;
}

.ghost {
  background-color: #e9ece5;
  color: #b3b2cf;
  border:
  transition: .2s ease;
}
.ghost:hover {
  background-color: #b3b2cf   ;
  color: #e9ece5;
  transition: .2s ease;
}
.md{
  width: 20%;
}
@media (max-width: 480px) {

  .md {
    width: 50%;
  }
